@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Single+Day&display=swap');
body{
  background-color: rgb(182, 172, 230);
}
* {
  font-family: 'Single Day', cursive;
}

p {
  z-index: 2;
  font-size: 35px;
  padding: 5px;
text-align: center;
  background-color: rgba(255, 255, 255, 0.25);
}
button {
  min-width: 250px;
  width:25%;

  border: 0;
  background-color: transparent;
}
#next {
  background-color: rgb(164, 155, 209);
  color: rgb(68, 65, 87);
  border: 5px solid rgb(102, 97, 130);
  border-radius:5px;
  padding:15px;
  font-size:20px;
  width:15%;
  position: absolute;
  left:35%;
  z-index:690 !important;
  transition: all 0.35s;
}
#next:hover {
  background-color: rgb(134, 126, 174);
  color: rgb(47, 45, 64);
}
#galleryDiv img {
  min-width: 250px;
  width:25%;
  margin: 0.25%;
  border: 10px solid rgb(0, 0, 0, 0.05);
  border-radius: 10px;
  transition: all 0.5s;
}
#galleryDiv img:hover{
  min-width: 310px;
  width:28%;
}
.clicked{
  position: absolute;
  left:37.5%;
  z-index: 69;
}
.clicked2{
min-width: 250px !important;
width:25% !important;
}
#screen{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}
.shown{
  visibility: visible !important;
  opacity: 0.65 !important;
}


#galleryDiv {
  position: relative;
  overflow: auto;
  white-space: nowrap;
}